<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Official NuGet feed -->
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- Your Azure DevOps private feed -->
		<add key="AzureDevOpsFeed"
			 value="https://pkgs.dev.azure.com/krugb/beverages/_packaging/CoffeegCommon/nuget/v3/index.json"
			 protocolVersion="3" />
	</packageSources>

	<packageSourceCredentials>
		<AzureDevOpsFeed>
			<add key="Username" value="ANYTHING" />
			<!-- Can be any string -->
			<add key="ClearTextPassword" value="" />
			<!-- Populated by CI secret or dotnet nuget add source -->
		</AzureDevOpsFeed>
	</packageSourceCredentials>
</configuration>